@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F5F0;
  color: #2C2A29;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
